@import '~bootstrap/scss/bootstrap';

$black: #000;
$primary: #ff1493;
$item-border: 0px;
$item-height: 100px;

* {
  text-align: center;
  color: black;
  // background-color: $black;
}

.border {
  border: 3px solid $black;
  margin: 20px;
  // padding: 20px;
}

.success {
  background-color: #080;
}

.failure {
  background-color: #F00;
}

.btn-pad {
  padding-bottom: 20px;
}

.container {
  padding: 0;
  text-align: center;
}

h1, h2, h3, h4 {
  text-align: center;
  padding: 0 auto;
}

.kino {
  padding: 15px;
  // margin: 20px;
}

.cover {
  height: calc(#{$item-height} - (2 * #{$item-border}));
  width: 100%;
}

.img-c {
  // padding: 0 0 5px 0;
  // vertical-align: middle;
  object-fit: cover;
}

.item-div {
  height: calc(#{$item-height} - (2 * #{$item-border}));
  padding: 0;
  overflow: hidden;
  justify-content: center;
}

.kino-divider {
  height: 45px;
}

.char-item {
  // color: white;
  border: solid #000 $item-border;
  margin: 0 0 10px 0;
  height: $item-height;
  // background-color: black;
}

p {
  font-size: 14px;
  text-align: left;
}

h3 {
  text-align: left;
}

.char-head, .char-sub {
  text-align: left;
  padding-left: 10px;
  // color
}

.char-img {
  object-fit: cover;
}

// .btn {
//   color: #fff;
//   background-color: #000;
//   border-color: #000;
// }
